@media screen and (max-width: 768px) {
    nav{
        padding: 0.25rem 1rem;
    }
    .nav-judul {
        font-size: 1rem;
    }
    .nav {
        gap: .6rem;

    }
    .nav a {
        font-size: .7rem;
    }

    .home-typing {
        font-size: 2.5rem;
    }
    .home p {
        font-size: .8rem;
    }
    .home-btn {
        padding: 0.5rem 1rem;
        font-size: .8rem;
    }

    .tentang-isi p {
        font-size: .8rem;
    }

    .project-keterangan {
        font-size: .8rem;
    }
    .project-btn {
        padding: 0.5rem 3rem;
    }

    #kontak p {
        font-size: .8rem;
    }

    .main-gbk img {
        width: 50%;
    }
}